
// Color Variables 

$ebony-clay: #22313F;
$madison: #2C3E50;
$darkest-blue: #011f4b;
$dark-blue: #03396c;
$blue: 	#005b96;
$green-blue: #6497b1;
$light: #b3cde0;

$white: #fff;
$black: #000;
$grey: #767676;
$dark: #323232;

// Fonts
$font-stack-montserrat: 'Montserrat', sans-serif;
$font-stack-exo: 'Exo', sans-serif;
$font-stack-secondary: sans-serif;

// Layout
$max-width: 1400px;

// Breakpoints
$break-m: 768px;
$break-l: 992px;
