.contact {
	@include pad(1em);
	@include flexbox();
	@include justify-content(#{center});
	@include align-items(#{center});
	@include flex-direction(#{column});
	background: $g-black;
	h2 {
		@include margin(1em 0);
	}
}


.form-container {
	fieldset {
		@include flexbox();
		@include flex-direction(#{column});
		@include justify-content(#{center});
		@include align-items(#{center});
		text-align: center;
	}
	input,
	textarea {
		@include margin(1em);
		width: 100%;
	}
	label {
		display: none;
	}
}

.contact-form-wrapper {
	@include flexbox();
	@include flex-direction(#{column});
	@include justify-content(#{center});
	@include align-items(#{center});
	@include pad(1em);
}

.bottom-space { // space to show content bc of sticky footer
	@include margin(0 0 103px);
	@media (min-width: $break-m) {
		display: none;
	}
}