.main-header {
	@include pad(1em);
	text-align: center;
	@include transition(opacity 2s ease);
}

.name {
	@include margin(2em 0 0);
	text-transform: uppercase;
	@include transition(all .4s ease);
	@media (min-width: #{$break-m}) {
		@include margin(3em 0 0);
	}
	&:hover {
		color: $light;
	}
}

.name-initial {
	font-size: 2.5rem;
	color: $green-blue;
}

.name-icon-container {
	@include flexbox();
	@include justify-content(#{center});
	@include align-items(#{center});
}

.name-icon {
	@include margin(2em 0);
	@include pad (.5em);
	@include border-radius(50%);
	height: 5em;
	width: 6em;
}

.main-nav {
	@media (min-width: #{$break-m}) {
		@include flexbox();
		@include justify-content(#{center});
	}
}

.main-nav-list {
	margin-top: 1em;
	@media (min-width: $break-m) {
		@include flexbox();
		@include flex-direction(#{row});
		@include justify-content(#{space-between});
		width: 80%;
		margin-top: 4em;
	}
	@media (min-width: #{$break-l}) {
		width: 60%;
	}
}

.main-nav-list li {
	@include pad(1em .5em);
	@include transition(all .4s ease);
	&:hover {
		transform: translateX(.5em);
	}
	a {
		@include pad(1em .5em);
		color: $light;
		@include transition(all .4s ease);
		&:hover {
			color: $white;
			transform: translateX(1em);
		}
	}
}

.header-arrow-container {
	@media (min-width: $break-m) {
		@include margin(3em 0 1em 0);
	}
	@media (min-width: $break-l) {
		@include margin(5em 0 1em 0);
	}
}

.header-down-arrow {
	height: 3em;
	width: 3em;
	@include transition(all .4s ease);
	&:hover {
		transform: scale(1.2);
		@extend %cursor-pointer;
	}
}

// logo animation keyframe

.name-icon * {
  transform-origin: 50% 50%;
}

.name-icon {
	animation: grow 1s ease-out backwards;
	animation: turn 1.1s .2s ease-out backwards;
}

.inner-bar,
.left-bracket,
.right-bracket {
	animation: pulse 5s;
}

.inner-bar {
	fill: $green-blue;
	animation: rotate-and-pulse 5s;
}

@keyframes grow {

  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotate-and-pulse {
	50% {
		transform: rotate(180deg) scale(1.2);
		fill: $white;
	}
}

