.main-header {
	@include pad(1em);
	text-align: center;
	@include transition(opacity 2s ease);
	height: 100vh;
}

.name {
	@include margin(2em 0 1em);
	text-transform: uppercase;
	@include transition(all .4s ease);
	@media (min-width: #{$break-m}) {
		@include margin(3em 0 2em);
	}
	&:hover {
		color: $light;
	}
}

.name-icon-container {
	@include flexbox();
	@include justify-content(#{center});
	@include align-items(#{center});
}

.name-icon {
	@include margin(0 0 1em);
	@include pad (.5em);
	@include border-radius(50%);
	height: 5em;
	@media (min-width: #{$break-m}) {
		@include margin(0 0 2em);
	}
}

.main-nav {
	@media (min-width: #{$break-m}) {
		@include flexbox();
		@include justify-content(#{center});
	}
}

.main-nav-list {
	margin-top: 3em;
	@media (min-width: $break-m) {
		@include flexbox();
		@include flex-direction(#{row});
		@include justify-content(#{space-between});
		width: 80%;
		margin-top: 6em;
	}
	@media (min-width: #{$break-l}) {
		width: 60%;
	}
}

.main-nav-list li {
	@include pad(1em 0);
	color: $light;
	@include transition(all .4s ease);
	&:hover {
		color: $white;
	}
}

// logo animation keyframe

.name-icon * {
  transform-origin: 50% 50%;
}

.name-icon {
	animation: grow 1s ease-out backwards;
	animation: turn 1.1s .2s ease-out backwards;
}

.inner-bar,
.left-bracket,
.right-bracket {
	animation: pulse 6s infinite;
}

.inner-bar {
	fill: $green-blue;
	animation: rotate-and-pulse 6s infinite;
	/* animation-delay: 3s; */
}

.left-bracket {
	
}

.right-bracket {

}

@keyframes grow {

  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotate-and-pulse {
	50% {
		transform: rotate(180deg) scale(1.2);
		fill: $white;
	}
}
