.portfolio {
	@include pad(1em);
	@include flexbox();
	@include justify-content(#{center});
	@include align-items(#{center});
	@include flex-direction(#{column});
	background: $m-pink;
	h2 {
		@include margin(1em 0 .5em);
	}
}

.project-wrapper {
	perpesctive: 700px;
	perspective-origin: 50% 100%;
	@include flexbox();
	@include flex-wrap(#{wrap});
	@include justify-content(#{space-around});
	@include align-content(#{space-around});
}

.project-container img {
	position: relative;
}

.project {
	transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2);
  	transform-style: preserve-3d;
  	@include margin(1em);
  	height: 19em;
  	width: 19em;
  	@include border-radius(50%);
  	border: 1px solid $black;
  	@media (min-width: $break-l) {
  		flex: 1 30%;
  		height: 22em;
  		width: 22em;
  	}
  	&:hover {
  		transform: rotate3d(0, 1, 0, 180deg);
  	}
  	h3 {
  		@include margin(1em 0);
  		color: $white;
  	}
  	p {
  		@include margin(auto 0);
  		font-size: .9rem;
  	}
}

.project-desc {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	background: $black;
	color: $aqua-blue;
	@include flexbox();
	@include flex-direction(#{column});
	@include justify-content(#{center});
	@include align-items(#{center});
	@include pad(1em);
	p {
		text-align: center;
	}
}

.side-a,
.side-b {
  backface-visibility: hidden;
  @include border-radius(50%)
}

.side-a {
	height: 100%;
	width: 100%;
}

.side-b {
  transform: rotateY(180deg);
}

.project-img {
	transform: rotate();
}

.project-button-container {
	@include flexbox();
	@include flex-direction(#{row});
	@include justify-content(#{center});
	@include margin(auto 0 1em);
}

.project-button {
	@include margin(0 .5em);
	@include pad(.5em);
	background: $black;
	color: $yellow;
	border: 1px solid $yellow;
	@include transition(all .4s ease);
	&:hover {
		color: $white;
		border-color: $white;
		transform: scale(1.1);
	}
}
