.skills, .skills-list {
	@include flexbox();	
}

.skills {
	@include flex-direction(#{column});
	@include justify-content(#{center});
	@include align-items(#{center});
	@include pad(1em);
	h2 {
		@include margin(1em 0);
	}
}

.skills-list {
	@include flex-direction(#{row});
	@include flex-wrap(#{wrap});
	@include justify-content(#{space-around});
	margin-top: 0;
	@media (min-width: $break-m) {
		width: 80%;
	}
	@media (min-width: $break-l) {
		width: 60%;
	}
	li {
		@include flexbox();
		@include justify-content(#{center});
		@include margin(1em);
		@include transition(all .5s ease);
		border: 1px solid $white;
		width: 6em;
		@media (min-width: $break-m) {
			/* flex: 1 20%; */
		}
		&:hover {
	
		}
		&:hover span.skill {
			/* transform: scale(1.1); */
			border: 1px solid $white;
			@include border-radius(50%);
		}
		&:nth-child(odd):hover {
			/* background: $ebony-clay; */
		} 
	}
	span.skill {
		@include transition(all .4s ease);
		@include pad(.5em);
		border: 1px solid transparent;
	}
}

.highlight-skill-item { // set in JS 
	/* transform: scale(1.1) rotate(-5deg); */
	transform: rotateX(360deg) scale(1.1);
	background: $white;
	color: $ebony-clay;
}